.header {
  color: rgb(8, 92, 92);
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(165, 116, 42);
  margin: 50px;
  padding: 20px;
}
.header:hover {
  background-color: aqua;
  color: black;
}
#title {
  text-align: center;

  color: rgb(114, 5, 5);
  list-style-type: none;
}
#links {
  width: 10px;
  height: 10px;
  text-align: left;
  margin-right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  margin: 20px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.lable {
  margin-top: 20px;
}

input,
.input {
  width: 50%;
}

footer:hover {
  background-color: yellowgreen;
  color: black;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: darksalmon;
  color: white;
  width: 100%;
}
.contact {
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0;
}
li {
  margin-right: 0;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  border-radius: 50%;
}

.fa-twitter {
  background: #55acee;
  color: white;
  border-radius: 50%;
}

.fa-google {
  background: #dd4b39;
  color: white;
  border-radius: 50%;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50%;
}
.iran {
  justify-content: center;
}
.iran2 {
  justify-content: center;
}
.meinung {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.dass {
  border: 2px solid white;
  object-fit: contain;
}

.editnews {
  text-align: center;
  margin-left: 200px;
}

.news {
  width: 100px;
  display: inline-block;
}
img {
  width: 100%;
}
