* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: center / cover no-repeat
    url(pexels-jonas-kakaroto-736230.jpg); */
  /* height: 500px;
  width: 500px; */
}
.img-container img {
  width: 200px;
  height: 200px;
  /* background-image: url(pexels-jonas-kakaroto-736230.jpg); */
  background-size: cover;
  box-shadow: 25px 30px 50px 10px rgb(206, 20, 20);
}
