body {
  background: green;
  background: linear-gradient(
    90deg,
    rgb(255, 174, 0) 0%,
    rgb(255, 251, 0) 10%,
    green 60%
  );
}
.board {
  background-image: url(../uib/uib-chessboard-Aliramazanian/img/wood.jpg);
  border: 3px solid black;
  margin: auto;
  width: 670px;
  height: 670px;
  background-color: lightgray;
}

.first :nth-child(odd) {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  background: black;
  display: inline-block;
}
.first :nth-child(even) {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  display: inline-block;
}
.second :nth-child(odd) {
  width: 80px;
  height: 80px;
  margin: 0;
  margin: 0;
  display: inline-block;
}
.second :nth-child(even) {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: black;
}
