* {
  background-color: #000;
  margin: 0;
  padding: 0;
}
h1 {
  color: #999;
  text-align: center;
}
.chessboard {
  width: 640px;
  height: 640px;
  border: 25px solid #333;
  margin: 20px;
  left: 25%;
  position: absolute;
}
.black {
  width: 80px;
  height: 80px;
  float: left;
  background-color: #999;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

.white {
  width: 80px;
  height: 80px;
  float: left;
  background-color: #333;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}
